@font-face {
    font-family: 'Style-script';
    src: url(StyleScript-Regular.ttf);
}



* {
    margin: 0%;
    padding: 0%;
}

body {
    background-color: #ddf3f9;

}

.header{
    width: 100%;
    min-height: 100vh;
    padding:0 8%;
    position:relative;
    overflow:hidden;

}

nav{
    display:flex;
    align-items: center;
    padding:10px 0;

}
.logo img{
    
    width:40px;
    height:40px;
    top: 0%;

}
nav ul{
    width:100%;
    text-align:right;
    list-style: none;
    margin-right: 50px;

}
nav ul li{
    display: inline-flex;
    margin: 5px 15px;
    
}
nav ul li a{
    text-decoration: none;
    color: var(--text-color);
    font-weight: 100;
}
nav ul li a:hover{
    color: #a2eeff;
}
.dropdown{
    width: 100%;
    position: absolute;
    z-index: 999;
    display: none;
    height: 500px;
    
}
.dropdown li{
   
    display: flex;
    text-align: center;
}

nav ul li:hover ul.dropdown{
    display: block;
    margin-top: 20px;
}


img {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 100px;
    top: 100px;

}

.header {
    width: 100%;
    height: 100%;
    padding: 0;
    position: absolute;

}

.content {
    font-size: 20px;
    font-family: 'Style-script';
    color: black;
    font-weight: 600;
    position: absolute;
    width: 299px;
    height: 122px;
    left: 522px;
    top: 375px;
    

}

.buttons {
    position: relative;
    width: 91px;
    height: 34px;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 2px;
    top: 700px;
    left: 700px;
    border: none;
    background: linear-gradient(180deg, #a2eeff 0%, rgba(195, 131, 11, 0) 100%);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 20px;
    cursor: pointer;
    animation: button 2s;
    font-weight: 300;
}

.buttons:hover {
    background-color: rgb(48, 169, 169);
}

.buttons:active {
    background-color: #bad8e3;
    box-shadow: 0 5px rgb(172, 205, 225);
    transform: translateY(4px);
}

.gandhi img {
    position: absolute;
    width: 365px;
    height: 354px;
    left: 800px;
    top: 250px;
   


}

@keyframes button {
    from {
        top: -2px
    }

    to {
        top: 700px
    }

}